<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cookandroid.kotlinapp">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="삐용삐용"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MemberModify">
        </activity>
        <activity android:name=".DetailModify">
        </activity>
        <activity android:name=".Join">
        </activity>
        <activity android:name=".JoinOk">
        </activity>
        <activity android:name=".Setting">
        </activity>
        <activity android:name=".Push_setting">
        </activity>
        <activity android:name=".PW_change">
        </activity>
        <activity android:name=".Notification_list">
        </activity>
        <activity android:name=".Main">
        </activity>
        <activity android:name=".Identification">
        </activity>
        <activity android:name=".PW_find">
        </activity>
        <activity android:name=".ID_find">
        </activity>
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>