<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="dealim.cs.siren.mappers.testMapper">

	<select id='user_db' resultType="User_db">
		 select * from user_db;
	</select>
	
	<insert id="user_insert">
	     insert into user_db(userid,name,tel,addr) values(#{userid},#{name},#{tel},#{addr})
	</insert>
	
	
	
</mapper>